*{
    margin: 0;padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(236, 236, 236);
}
.background{
    background: url(./img/bg.jpg) repeat-y #8bf1fd;
    height: 550px;
    margin: 0 auto;

}
.menu{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.menu h4{
    font-size: 25px;
}
.menu ul li{
    list-style: none;
    float: left;
    padding: 0 10px;
}
/* --------------------CONTAINER-------------- */
.container{
    background-color: #fff;
    border-radius: 7px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.box-container{
    padding: 20px;
    display: flex;
    border-radius: 7px;

}
img{
    width: 450px;
    border-radius: 7px;
}
.text{
    padding: 50px 0 0 100px;
}
.text .span-top{
    color: rgb(165, 165, 165);
    letter-spacing: 2px;
    font-size: 13px;
}
.text h1{
    color: rgb(62, 62, 62);
    padding: 10px 0 10px 0;
}
.text p{
    color: rgb(99, 99, 99);
}
.text p.lorem{
    padding: 10px 0;
    font-size: 14px;
}
.text ul{
    list-style: none;
    padding-top: 20px;
}
.text ul li{
    color: rgb(99, 99, 99);
    padding: 10px 0;
}
.text ul li #icon-text{
    color: rgb(130, 130, 235);
    padding-right: 10px;
    align-items: center;justify-content: center;
}
.text ul li .ul-span{
    color: rgb(99, 99, 99);
    font-size: 14px;
}
/* -------------------------- */
ul.ul-2{
    display: flex;
}
ul.ul-2>li{
    line-height: 30px;
    border-radius: 5px;
    padding: 0;margin: 0;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #d8d6d6;
    margin-right: 10px;
}
ul.ul-2 li > .icon-text-2{
    color: #fff;
}
/* ---------------FOOTER----------------- */
.footer{
    height: 50px;
    margin-top: 50px;
    background-color: rgb(236, 236, 236);
}
